*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  text-align: center;
}

.container{
  background-color: black;
  width: 30%;
margin: auto;
margin-top: 5%;
color: white;
min-height: 60vh;
}
h1{
  padding: 10px;
}
.inputs{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
input{
  padding: 8px;
  margin: 5px 5px;
  background-color: rgba(255,255, 255, 0.6);
  border: 1px solid grey;
  border-radius: 4px;

}
input::placeholder{
  color:rgba(255,255, 255, 0.5);
  text-align: start;
  font-weight: 100;
}
button{
  width: 20%;
  padding: 8px;
  margin: 5px;
}